.header {
	width: 100%;
	height: 30px;
	display: flex;
	border-bottom: solid;
	padding: 20px;
	align-items: center;
	justify-content: center;
	font-size: 25px;
}

.header > div {
	width: 70%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#backward {
	width: 30px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.pageTitle {
	margin-top: 30px;
	font-weight: bold;
}

.title,
.content {
	width: 570px;
	margin-top: 30px;
	text-align: start;
}

.titleInput {
	width: 570px;
	height: 70px;
	border-radius: 5px;
	font-size: large;
	padding: 10px;
	box-sizing: border-box;
}

.contentInput {
	width: 570px;
	height: 300px;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	text-align: initial;
}

.helper {
	width: 570px;
	margin-top: 10px;
	text-align: start;
	color: red;
	font-size: small;
}

.completeButton {
	width: 360px;
	height: 40px;
	background-color: #aca0eb;
}

.image {
	width: 570px;
}

.inputImg {
	width: 570px;
}
