body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	width: 100%;
	height: 30px;
	display: flex;
	border-bottom: solid;
	padding: 20px;
	align-items: center;
	justify-content: center;
	font-size: 25px;
}

.headerContents {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 70%;
}

img {
	width: 30px;
}

.title {
	width: 600px;
	left: 0px;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.postHeader {
	width: 600px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: solid;
}

.authorInfo {
	display: flex;
	flex-direction: row;
}

.author {
	margin-right: 30px;
}

.picture {
	width: auto;
	height: auto;
	max-width: 544px;
	max-height: 306px;
	border: solid;
	margin-bottom: 20px;
}

.contents {
	width: 544px;
	height: auto;
}

.postInfo {
	width: 392px;
	height: 128px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	border-bottom: solid;
}

.likes,
.views,
.commentNums {
	display: flex;
	flex-direction: column;
	width: 100px;
	height: 80px;
	margin-right: 10px;
	background-color: rgb(190, 190, 190);
	border-radius: 5px;
	justify-content: center;
	align-items: center;
}

.addComment {
	width: 595px;
	height: 200px;
	border-color: black;
	border: solid;
}

.comment {
	width: 99%;
	height: 150px;
}

.commentBtn {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 35px;
	bottom: 0px;
	justify-content: center;
	align-items: self-end;
}

.addComment button {
	width: 100px;
	height: 35px;
	border: none;
	border-radius: 15px;
	background-color: #7f6aee;
	color: white;
	font-size: 14px;
	cursor: pointer;
}

.commentLists {
	display: flex;
	flex-direction: column;
	width: 544px;
	height: auto;
	min-height: 70px;
	justify-content: center;
	margin-bottom: 20px;
}

.commentsInfo {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	justify-content: space-between;
}

/* 모달 기본 스타일 */
.modal {
	display: none; /* 기본적으로 숨김 */
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
}

/* 모달 내부 컨텐츠 */
.modal-content {
	background-color: white;
	width: 350px;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}

/* 제목 스타일 */
.modal-title {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
}

/* 설명 텍스트 */
.modal-text {
	font-size: 14px;
	color: gray;
	margin-bottom: 20px;
}

/* 버튼 컨테이너 */
.modal-buttons {
	display: flex;
	justify-content: space-between;
}

/* 취소 버튼 */
.cancel {
	background-color: black;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

/* 확인 버튼 */
.confirm {
	background-color: #aca0eb;
	color: black;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}
